  /* Hide Dropdowns by Default */
  .breadcrumb-item ul {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    position: absolute;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: clip;
    top: 70px;
    box-shadow: 9px 10px 6px -1px rgba(0,0,0,0.14);
    -webkit-box-shadow: 9px 10px 6px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: 9px 10px 6px -1px rgba(0,0,0,0.14);
  }

  /* Display Dropdowns on Hover */
  .breadcrumb-item:hover > ul {
    display:inherit;
  }

  .breadcrumb-item ul li {
    float:none;
    font-size: 1.3em;
    display: list-item;
    position: relative;
    background-color: white;
  }